{% extends 'base.html' %}
{% load static %}
{% load render_table from django_tables2 %}

<!DOCTYPE html>
<html lang="el_EL" >
<head>
</head>
	{% if user.is_authenticated %}
	<p>Welcone, {{ user.username }} </p>
	{% else %}
	<p>Welcome, new user. Please log in.</p>
	{% endif %}

<h1>{{ page_title }}  </h1>

{% if main_url_leo %}
	<li><a href={% url  main_url_leo  %}>Add</li>
{% endif %}

{% block title %}
    {{ page_title }}
{% endblock %}

{% block content %}
<html>
    <html lang="el_EL" >
    <h2> {{ form_name }} </h2>
    <head>
        <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
    </head>
    <body>
		<h2><b> 500 Internal Server Error </b></h2>
		<p>{{ exception }}</p>
    </body>




</html>
{% endblock %}